# {{ ansible_managed }}
from .settings import *

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '{{ bubbles_key }}'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = False

ALLOWED_HOSTS = ['*']

# Internationalization
# https://docs.djangoproject.com/en/2.0/topics/i18n/

LANGUAGE_CODE = 'en-za'

TIME_ZONE = 'Africa/Johannesburg'

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'handlers': {
        'debugfile': {
            'level': 'DEBUG',
            'class': 'logging.FileHandler',
            'filename': '/opt/bubbles/logs/debug.log',
        },
        'errorfile': {
            'level': 'ERROR',
            'class': 'logging.FileHandler',
            'filename': '/opt/bubbles/logs/error.log',
        },
    },
    'loggers': {
        'django': {
            'handlers': ['debugfile', 'errorfile'],
            'level': 'DEBUG',
            'propagate': True,
        },
    },
}
