# {{ ansible_managed }}
[uwsgi]
env = DJANGO_SETTINGS_MODULE=bubbles.local_settings
chdir = /opt/bubbles
module = bubbles.wsgi

master = true
plugin = python3
processes = 10
vacuum = true
daemonize = /var/log/uwsgi/bubbles.log
